<swiper [config]="config" #swiperComp>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <app-news-panel [panel]="topic.leftPanel" class="full-height">
            </app-news-panel>
        </div>
        <div class="swiper-slide">
            <app-news-panel [panel]="{video: topic.video, text: null, image: null, quiz: null}" class="full-height">
            </app-news-panel>
        </div>
        <div class="swiper-slide">
            <app-news-panel [panel]="topic.rightPanel" class="full-height">
            </app-news-panel>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</swiper>
