.app-topic {
  .full-height {
    height: 100%;
  }

  .full-width {
    width: 100%;
  }

  .swiper-container {
    height: 100%;
    width: 100%;
  }
  swiper {
    height: 100%;
  }

  .topic-buttons {
    z-index: 10;
    position: absolute;
    top: 40%;
    pointer-events: none;

    .topic-button {
      width: 100%;
      text-align: right;
      padding-right: 6px;
      ion-button {
        width: 45px;
        height: 45px;
        --border-radius: 32px;
        font-size: 11px;
        --background: #DDDDDDA0;
        --color: black;
        --color-activated: #353535;
        padding-bottom: 6px;
      }

      ion-button.liked {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        --color-activated: var(--ion-color-light);
      }
    }
  }

  .topic-hashtag {
    z-index: 11;
    position: absolute;
    bottom: 5%;
    text-shadow: black 1px 1px 5px;
    font-size: 1.5em;
    margin-left: 12px;
    a {
      color: white;
      text-decoration-line: none;
    }
  }

  .topic-clapback {
    z-index: 12;
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding-right: 12px;

    ion-button {
      float: right;
      width: 60px;
      height: 60px;
      --border-radius: 43px;
      font-size: 15px;
    }
  }
}
