<div class="app-topic full-height">
    <div [@heart]="heartState" class="heart-animation">
        <ion-icon name="heart"></ion-icon>
    </div>

    <div class="full-video-side-buttons">
        <ion-button>
            <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
        <ion-button [ngClass]="{'liked': topic.hasLiked}" (click)="like()">
            <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showRewind" (click)="rewind()">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
    </div>

    <div class="full-video-hashtag margin-left">
        <ion-button class="btn-small-text" [routerLink]="['/', 'reaction', topic._id]" [queryParams]="{tags: topic.hashtags}">
            #{{topic.hashtags[0]}}
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-button>
    </div>

    <div class="full-video-fab margin-right">
        <ion-button (click)="reactionService.showDialogCreateCB(topic._id)">
            <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
        </ion-button>
    </div>

    <swiper [config]="config" #swiperComp>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <app-news-panel [panel]="topic.leftPanel" class="full-height">
                </app-news-panel>
            </div>
            <div class="swiper-slide">
                <app-news-panel [panel]="topic.centerPanel" class="full-height">
                </app-news-panel>
            </div>
            <div class="swiper-slide">
                <app-news-panel [panel]="topic.rightPanel" class="full-height">
                </app-news-panel>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
</div>
