<ion-header class="app-navbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="reactionService.showDialogCreateCB(idTopic)">
        <ion-icon slot="icon-only" color="primary" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title i18n>Clapbacks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-reaction-search">
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="6" *ngFor="let reaction of reactionService.reactions.get('topic-' + idTopic)">
        <div class="img-card" [routerLink]="['/', 'reaction', 'detail', reaction._id]">
          <img [src]="host + reaction.video + '?thumbnail'" alt="" class="full-width"/>

          <div class="card-footer">
            <ion-avatar class="avatar">
              <img [src]="reaction.user.image ? (host + reaction.user.image) : '/assets/img/avatar.png'" alt="Avatar">
            </ion-avatar>
            <div class="content">
              {{reaction.text.length > 100 ? (reaction.text | slice:0:100) + '...' : reaction.text}}
            </div>
            <div class="stats">
              {{reaction.viewsCounter}}
              <ion-icon class="fix-pos" name="eye"></ion-icon> &nbsp;
              {{reaction.likesCounter}}
              <ion-icon class="fix-pos" name="heart"></ion-icon> &nbsp;
              {{reaction.commentsCounter}}
              <ion-icon class="fix-pos" name="chatbubbles"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-reaction-comment *ngFor="let comment of commentService.topicsComments.get(idTopic)" [comment]="comment">
  </app-reaction-comment>

  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>

<app-add-comment-footer [topicId]="idTopic"></app-add-comment-footer>
