<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title i18n>Clapbacks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-reaction-search">
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="6" *ngFor="let reaction of reactionService.reactions.get(idTopic)">
        <div class="reaction-card" [routerLink]="['/', 'reaction', 'detail', reaction._id]">
          <ion-img [src]="host + reaction.video + '?thumbnail'"></ion-img>

          <div class="footer-reaction">
            <ion-avatar class="avatar">
              <img [src]="host + reaction.user.image" alt="Avatar">
            </ion-avatar>
            <div class="description">
              {{reaction.text.length > 100 ? (reaction.text | slice:0:100) + '...' : reaction.text}}
            </div>
            <div class="footer-text">
              {{reaction.likesCounter}}
              <ion-icon icon="heart"></ion-icon>
              {{reaction.commentsCounter}}
              <ion-icon name="chatbubbles"></ion-icon>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>
