<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title i18n>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-login">
  <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
    <ion-list inset padding>
      <ion-item>
        <ion-input placeholder="Phone number" i18n-placeholder formControlName="phone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="SMS Code" i18n-placeholder maxlength="6" formControlName="code" type="text"></ion-input>
        <ion-button i18n [disabled]="authService.delay > 0 || form.controls['phone'].invalid" (click)="sendCode()">
          Send Code
          <span *ngIf="authService.delay > 0">&nbsp;({{authService.delay}})</span>
        </ion-button>
      </ion-item>

      <div *ngIf="form.errors" class="alert alert-danger">{{form.errors}}</div>
      <ion-button class="submit-btn" expand="block" type="submit"
                  [disabled]="!form.valid" i18n>
        Login
      </ion-button>
    </ion-list>
  </form>
</ion-content>
