.reaction-comment {
  @extend .padding-left-sm;
  @extend .padding-top;
  min-height: 64px;
  border-bottom: var(--ion-color-light-shade) solid 1px;

  ion-avatar {
    @extend .avatar-sm;
    @extend .margin-right-sm;
    float: left;
  }

  h2 {
    font-size: .9em; // TODO: Put in variable
    margin-top: 0;
    color: #27a5f0; // TODO: Put in variable
    position: relative;
    bottom: 2px;

    .comment-counter {
      color: var(--ion-color-light-shade);
      font-size: .7em;
    }
  }

  .comment-text {
    font-size: .8em;
    @extend .margin-bottom;
    @extend .margin-right-lg;
    margin-left: 41px;

    .comment-date {
      font-size: .6em; // TODO: Put in variable
      position: relative;
      bottom: 1px;
      color: var(--ion-color-light-shade);
    }
  }

  .comment-like {
    @extend .pointer;
    float: right;
    @include ease-in-animation();
  }

  .comment-like.hasLiked {
    @include scale-bounce(1.3, 300ms);
    color: var(--ion-color-primary);
  }
}
