<div class="reaction-comment">
  <ion-avatar [routerLink]="['/', 'grid', comment.user._id]" class="pointer">
    <img [src]="comment.user.image ? (host + comment.user.image + '?width=80&height=80') : '/assets/img/avatar.png'" alt="Avatar"/>
  </ion-avatar>

  <ion-label>
    <h2>
      <span [routerLink]="['/', 'grid', comment.user._id]" class="pointer">{{comment.user.name}}</span>
      <!-- TODO: Add badges -->
      <ion-icon class="fix-pos" name="checkmark-circle-outline" *ngIf="comment.user.verified"></ion-icon>

      <span class="comment-counter" *ngIf="comment.likesCounter > 0">
        &nbsp;
        {{comment.likesCounter}}
        <ion-icon class="fix-pos" name="heart"></ion-icon>
      </span>
    </h2>
    <div class="comment-like margin-right-sm" [ngClass]="{hasLiked: comment.hasLiked}" (click)="like()">
      <ion-icon [name]="comment.hasLiked ? 'heart' : 'heart-empty'"></ion-icon>
    </div>
    <div class="comment-text">
      <span [innerHtml]="comment.text | italic | bold | hashtag | nl2br"></span>
      <span class="comment-date">{{comment.date | date}}</span>
    </div>
  </ion-label>
</div>
