<swiper [config]="config" #swiperComp>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <app-news-panel [video]="item.videoLeft" class="full-height">
            </app-news-panel>
        </div>
        <div class="swiper-slide">
            <app-news-panel [item]="item" class="full-height">
            </app-news-panel>
        </div>
        <div class="swiper-slide">
            <app-news-panel [video]="item.videoRight" class="full-height">
            </app-news-panel>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</swiper>
