<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button>
      <fa-icon [icon]="['fas', 'search']" size="lg" slot="icon-only">
      </fa-icon>
    </ion-button>
    <ion-button>
      <fa-icon [icon]="['fas', 'inbox']" size="lg" slot="icon-only">
      </fa-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="news">
      <ion-icon name="paper"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon name="star"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
