<ion-header class="app-navbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="isOwn">
      <ion-button [routerLink]="['/', 'grid', 'edit']">
        <ion-icon slot="icon-only" color="primary" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">{{user.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-grid-main full-height" *ngIf="!isLoading">
  <div class="header">
    <div class="margin-bottom">
      <ion-avatar class="margin pointer" [appMediaUpload]="isOwn" (uploadDone)="uploadNewProfilePic($event)">
        <img [src]="user.image ? (host + user.image + '?width=80&height=80') : '/assets/img/avatar.png'" alt="Avatar"/>
      </ion-avatar>

      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="counter">{{user.clapbacksCounter}}</span>
            <ion-icon class="fix-pos" color="primary" name="chatbubbles"></ion-icon><br/>
            <span class="text">Clapbacks</span>
          </ion-col>
          <ion-col>
            <span class="counter">{{user.viewsCounter}}</span>
            <ion-icon class="fix-pos" color="primary" name="eye"></ion-icon><br/>
            <span class="text">Views</span>
          </ion-col>
          <ion-col>
            <span class="counter">{{user.likesCounter}}</span>
            <ion-icon class="fix-pos" color="primary" name="heart"></ion-icon><br/>
            <span class="text">Likes</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <h2 class="margin-left">
      {{user.name}}
      <ion-icon class="fix-pos" name="checkmark-circle-outline" *ngIf="user.verified"></ion-icon>
    </h2>

    <p [innerHTML]="user.description | bold | italic | hashtag | nl2br" class="margin-top-sm margin-left margin-right">
    </p>
  </div>

  <ion-grid class="reactions" *ngIf="!isLoadingReactions">
    <ion-row>
      <ion-col size="4" *ngFor="let reaction of reactionService.reactions" [routerLink]="['/', 'reaction', 'detail', reaction._id]">
        <ion-img [src]="host + reaction.video + '?thumbnail&width=150&height=200'"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-empty-view *ngIf="!isLoadingReactions && reactionService.reactions.length === 0"
                  i18n-text [text]="isOwn ? 'You have no clapbacks !' : 'There is no clapback here !'"
                  icon="assets/icon/clap.svg"
                  [buttonText]="isOwn ? 'Make a Clapback !' : ''" link="/">
  </app-empty-view>

  <app-empty-view *ngIf="isLoadingReactions || isLoading" spinner="true"></app-empty-view>

</ion-content>

