.app-grid-main {
  .header {
    ion-avatar {
      float: left;
    }

    ion-col {
      @extend .margin-top;
      @extend .margin-bottom-sm;
      text-align: center;

      span.counter {
        font-weight: bold;
      }
      span.text {
        font-size: 1em;
      }
    }
    h2 {
      font-size: .9em;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 0;

    }
    p {
      font-size: .8em;
    }
  }

  ion-grid.reactions {
    padding: 0;

    ion-col {
      padding: 1px 1px;
    }
  }
}
