<ion-header class="transparent-gradient">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="canEdit && reaction">
      <ion-button [routerLink]="['/', 'reaction', 'edit', reaction._id]">
        <ion-icon slot="icon-only" color="primary" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title i18n>Clapback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-reaction-detail">

  <div class="video-detail" *ngIf="!isLoading">

    <div [@heart]="heartState" class="heart-animation">
      <ion-icon name="heart"></ion-icon>
    </div>
    
    <div class="full-video-side-buttons">
      <div>
        <ion-button>
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button [ngClass]="{'liked': reaction.hasLiked}" (click)="like()">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button (click)="rewind()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button>
          <ion-icon slot="icon-only" name="warning"></ion-icon>
        </ion-button>
      </div>
    </div>

    <vg-player class="full-video full-height" (onPlayerReady)="onPlayerReady($event)">
      <vg-buffering></vg-buffering>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <video [vgMedia]="media" #media preload="auto" autoplay>
        <source [src]="host + reaction.video" type="video/mp4">
      </video>
    </vg-player>

    <div class="video-footer">
      
      <div class="video-name pointer" [routerLink]="['/', 'grid', reaction.user._id]">
        <ion-avatar>
          <img [src]="reaction.user.image ? (host + reaction.user.image) : '/assets/img/avatar.png'" alt="Avatar">
        </ion-avatar>
        <div class="margin-left-sm">
          <span>{{reaction.user.name}}</span>
          <!-- TODO: Add badges -->
          <ion-icon class="fix-pos" name="checkmark-circle-outline" *ngIf="reaction.user.verified"></ion-icon>
        </div>
      </div>

      <ul class="stats">
        <li>
          <ion-icon color="medium" name="calendar"></ion-icon>
          {{reaction.date | date}}
        </li>
        <li>
          <ion-icon class="fix-pos" color="medium" name="eye"></ion-icon>
          {{reaction.viewsCounter}} &nbsp;
          <ion-icon class="fix-pos" color="medium" name="heart"></ion-icon>
          {{reaction.likesCounter}} &nbsp;
          <ion-icon class="fix-pos" color="medium" name="chatbubbles"></ion-icon>
          {{reaction.commentsCounter}}
        </li>
        <li *ngIf="reaction.text">
          <ion-icon class="fix-pos" color="medium" name="create"></ion-icon> &nbsp;
          <span [innerHTML]="reaction.text | italic | bold | nl2br"></span><br/>
          <span *ngFor="let tag of reaction.hashtags">#{{tag}} </span>
        </li>
      </ul>

      <div *ngIf="!isLoadingComments">
        <app-reaction-comment *ngFor="let comment of commentService.reactionsComments.get(reaction._id)" [comment]="comment">
        </app-reaction-comment>
      </div>
    </div>
  </div>
</ion-content>

<app-add-comment-footer [reactionId]="reaction ? reaction._id : ''"></app-add-comment-footer>

<ion-spinner *ngIf="isLoading"></ion-spinner>
