// TODO: Put in CSS library
.full-width {width: 100%;}
.full-height {height: 100%;}


ion-header.app-header-reaction-detail  {
  visibility: hidden;
  position: absolute;

  ion-toolbar {
    --color: white;
    --background: none;
    background: linear-gradient(#000000d9, #0000);
    visibility: visible;
  }
}

.app-reaction-detail {
  .full-video {
    width: 100%;
    overflow: hidden;
    object-fit: cover;

    vg-scrub-bar {
      bottom: 0;
    }
  }

  .reaction-buttons {
    z-index: 10;
    position: absolute;
    top: 35%;
    pointer-events: none;

    .reaction-button {
      width: 100%;
      text-align: right;
      padding-right: 6px;
      ion-button {
        width: 45px;
        height: 45px;
        --border-radius: 32px;
        font-size: 11px;
        --background: #DDDDDDA0;
        --color: black;
        --color-activated: #353535;
        padding-bottom: 6px;
      }

      ion-button.liked {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-primary-contrast);
        --color-activated: var(--ion-color-light);
      }
    }
  }

  .reaction-footer {
    .reaction-author {
      display: flex;
      align-items: flex-end;
      height: 22px;
      margin-left: 6px;

      ion-avatar {
        width: 45px;
        height: 45px;
        z-index: 1000;
        border: white solid 2px;
        float: left;
      }

      .author-name {
        margin-left: 6px;
        ion-icon {
          position: relative;
          top: 2px;
          left: 4px;
        }
      }
    }

    .reaction-stats {
      list-style: none;
      padding-left: 6px;
      padding-bottom: 12px;
      font-size: .7em;
      border-bottom: var(--ion-color-light-shade) 1px solid;
      margin-bottom: 0;
      ion-icon {
        color: var(--ion-color-light-shade);
        position: relative;
        top: 2px;
      }
    }

    .reaction-comments {
      .reaction-comment {
        min-height: 64px;
        border-bottom: var(--ion-color-light-shade) solid 1px;
        padding-left: 6px;
        padding-top: 12px;

        ion-avatar {
          margin-right: 6px;
          float: left;
          width: 35px;
          height: 35px;
        }

        h2 {
          font-size: .9em;
          margin-top: 0;
          color: #27a5f0;
          position: relative;
          bottom: 2px;

          ion-icon {
            position: relative;
            top: 2px;
          }
        }

        .comment-text {
          font-size: .9em;
          margin-bottom: 12px;

          .comment-date {
            font-size: .6em;
            position: relative;
            bottom: 1px;
            color: var(--ion-color-light-shade);
          }
        }
      }
    }
  }
}
