<ion-tabs>

  <ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

      <ion-tab-bar>
        <ion-tab-button tab="video">
          <ion-icon name="videocam"></ion-icon>
          <ion-label i18n>Video</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="text">
          <ion-icon name="create"></ion-icon>
          <ion-label i18n>Text</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-toolbar>
  </ion-header>

</ion-tabs>
