<ion-header class="app-navbar">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="!isCreation">
      <ion-button (click)="onSubmit()">
        <ion-icon slot="icon-only" color="primary" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title i18n>Clapback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <ion-list>
      <ion-item *ngIf="mediaUrl">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h2>{{mediaUrl}}</h2>
          <h3>{{mediaUrl}}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating" i18n>Add a description...</ion-label>
        <ion-textarea formControlName="text"></ion-textarea>
      </ion-item>

      <app-chip-input formControlName="hashtags" [suggestedTags]="topic.hashtags.concat(topic.suggestedHashtags)"></app-chip-input>
    </ion-list>

    <pre>{{form.value|json}}</pre>

    <ion-button expand="block" *ngIf="isCreation" [disabled]="form.invalid" (click)="onSubmit()" i18n>Publish !</ion-button>
  </form>
</ion-content>
