ion-app {
  background-color: white;

  ion-menu {
    .menu-header {
      box-shadow: rgba(black, .5) 0 1px 8px;
    }

    ion-footer {
      ion-item {
        cursor: pointer;
      }
    }
  }
}
