ion-app {
  background-color: white;

  ion-menu {
    .menu-header {
      margin-bottom: 12px;
      box-shadow: grey 0 1px 8px;
    }

    ion-footer {
      ion-item {
        cursor: pointer;
      }
    }
  }
}
