<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-menu-toggle auto-hide="true">
      <ion-item *ngIf="authService.user" routerLink="/account" class="menu-header">
        <ion-avatar slot="start">
          <img [src]="authService.user.image"/>
        </ion-avatar>
        <ion-label>
          <h3>{{authService.user.name}}</h3>
          <p>{{authService.user.email}}</p>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/feed" routerDirection="forward" i18n>
            <ion-icon color="primary" name="apps" slot="start"></ion-icon>
            News
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/" routerDirection="forward" i18n>
            <ion-icon color="primary" name="chatbubbles" slot="start"></ion-icon>
            Messages
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/" routerDirection="forward" i18n>
            <ion-icon color="primary" name="cog" slot="start"></ion-icon>
            Settings
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
