.home-image {
  height: 50%;
  object-fit: cover;
  overflow: hidden;
}

.home-image-title {
  display: block;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;

  position: absolute;
  top: 58.35%;
  left: 50%;
  margin-top: 0;
  min-width: 67%;

  .home-center-title {
    position: relative;
    left: -50%;
    bottom: 16px;
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    font-weight: bold;
    padding: 7px 16px;
  }
}

.home-subtitle {
  text-align: center;
  font-size: 1em;
  color: #999999;
}

.home-title {
  margin-top: 0;

  .home-title-center {
    margin: 0 auto;
    padding: 7px 10px;
    width: 75%;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
}

.home-content {
  text-align: left;
  line-height: 1.5em;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 0.9em;
}
