<ion-toolbar mode="md" color="primary">
  <ion-title slot="start">左右</ion-title>
</ion-toolbar>

<ion-content *ngIf="group" [scrollY]="true">
  <ion-img [src]="group.image" class="home-image"></ion-img>

  <div class="home-image-title"><div class="home-center-title">Good Morning, Shanghai</div></div>
  <h2 class="home-subtitle">上海，早上好~</h2>
  <div class="home-title"><div class="home-title-center">5 things you need to know</div></div>

  <p [innerHTML]="group.content" class="home-content">
  </p>
</ion-content>
