// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables colors
// -----------------------------------------------------------------------------

$purple: var(--ion-color-tertiary);
$orange: orange;
$brown: brown;
$pink: deeppink;
$blue: var(--ion-color-secondary);
$green: var(--ion-color-success);
$red: var(--ion-color-primary);
$grey: var(--ion-color-medium)
