<div class="app-topic-panel full-height">

  <!-- VIDEO -->
  <div class="full-height" *ngIf="type === 'video'">

    <div class="full-video-author margin-left-lg" *ngIf="panel && panel.author">
      <ion-avatar [routerLink]="['/', 'grid', panel.author._id]" class="pointer">
        <img [src]="panel.author.image ? (host + panel.author.image) : '/assets/img/avatar.png'" alt=""/>
      </ion-avatar>
      <span [routerLink]="['/', 'grid', panel.author._id]" class="pointer">{{panel.author.name || panel.author.email}}</span>
      <ion-icon class="fix-pos" name="checkmark-circle-outline" *ngIf="panel.author.verified"></ion-icon>
    </div>

    <vg-player class="full-video full-height" (onPlayerReady)="onPlayerReady($event)">
      <vg-buffering></vg-buffering>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <video [vgMedia]="media" #media preload="auto" autoplay muted>
        <source [src]="host + panel.video" type="video/mp4">
      </video>
    </vg-player>
  </div>

  <!-- TEXT + IMAGE -->
  <div class="half-text full-height" *ngIf="type === 'text'">
    <ion-img *ngIf="panel.image" [src]="host + panel.image"></ion-img>

    <p *ngIf="!tappingText || !panel.textAlt" [innerHTML]="panel.text | italic | bold | hashtag | nl2br">
    <p *ngIf="tappingText && panel.textAlt" [innerHTML]="panel.textAlt | italic | bold | hashtag | nl2br">
    </p>
  </div>

  <!-- QUIZ -->
  <div class="full-height quiz-panel" *ngIf="type === 'quiz' && !isLoading">
    <h1  i18n [ngClass]="{reduce: quizChoice && !quiz.isPoll && quiz.explanationText}">
      <span *ngIf="!quiz.isPoll">QUIZ</span>
      <span *ngIf="quiz.isPoll">POLL</span>
    </h1>
    <h2 [ngClass]="{reduce: quizChoice && !quiz.isPoll && quiz.explanationText}"><span class="padding-sm">{{quiz.question | italic | bold}}</span></h2>
    <h3 [ngClass]="{reduce: quizChoice && !quiz.isPoll && quiz.explanationText}"><span>{{quiz.content | italic | bold}}</span></h3>

    <div class="quiz-choices">

      <ion-card *ngFor="let choice of quiz.choices"
                (click)="quizChoice ? '' : vote(choice._id)"
                class="margin-bottom ion-activatable pointer"
                [color]="quizChoice && !quiz.isPoll && choice.goodAnswer ? 'success' :
                        quizChoice && !quiz.isPoll && !choice.goodAnswer && quizChoice == choice._id ? 'danger' : ''"
                [ngClass]="{'lower': quizChoice && quiz.isPoll && quizChoice !== choice._id}">

        <ion-ripple-effect></ion-ripple-effect>

        <span *ngIf="quizChoice && quiz.isPoll" class="bar bg-{{choice.color}}" [ngStyle]="{width: (choice.count*100/maxCount || 0) + '%'}"></span>

        <ion-card-header class="padding-bottom padding-top">
          <ion-card-title>
            {{choice.text | italic | bold}}
            <span class="counter" *ngIf="quizChoice && quiz.isPoll">{{choice.count*100/maxCount | number:'1.0-0'}}% - {{choice.count}}/{{maxCount}}</span>
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="margin-top-lg" *ngIf="quizChoice && !quiz.isPoll && quiz.explanationText">
        <ion-card-content class="padding-top" [innerHTML]="quiz.explanationText | bold | italic | nl2br">
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
