<div class="full-height full-image-div" *ngIf="type === 'video'">
  <vg-player class="full-image" (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <video [vgMedia]="media" #media preload="auto" autoplay muted>
      <source [src]="panel.video" type="video/mp4">
    </video>
  </vg-player>
</div>

<div class="full-height" *ngIf="type === 'text'">
  <ion-img *ngIf="panel.image" [src]="panel.image" class="top-image"></ion-img>

  <!--
  <h1 class="news-title" *ngIf="panel.title">
    {{item.title}}
  </h1>
  -->

  <p [innerHTML]="panel.text" class="news-text">
  </p>
</div>

<div class="full-height" *ngIf="type === 'quizz'">

</div>
