.app-topic-panel {
  // TODO : Put in a CSS library global property
  .full-height {
    height: 100%;
    overflow: hidden;
  }

  .toolbar-filler {
    width: 100%;
    height: 56px;
  }

  // TODO : Put the CSS in a library to avoid hardcoded random values

  .top-image {
    max-height: 30%;
    overflow: hidden;
  }

  .full-image {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .full-video {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    video {
      // TODO: The width allow for a full screen video but is not generalized on every phone format
      width: 108vw;
      height: 100%;
    }
  }

  .news-title {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;

    text-align: left;
  }

  .news-text {
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
    font-size: 0.9em;
  }

  .full-image-title {
    position: absolute;
    top: 70%;
    color: black;
    font-size: 1.7em;
    background: rgba(255, 255, 255, .7);
    width: 75%;
    margin-left: 25%;
    margin-right: 0;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
  }

  .full-image-title-reversed {
    color: white;
    background: rgba(0, 0, 0, .7);
  }

  vg-scrub-bar {
    bottom: 0;
  }

  .topic-author {
    z-index: 12;
    position: absolute;
    bottom: 12%;
    color: white;
    text-shadow: black 1px 1px 5px;
    font-size: 1.1em;
    margin-left: 12px;
    width: 80%;
    text-align: left;
  }

  .panel-quiz {
    //background: var(--ion-color-primary);
    //color: var(--ion-color-primary-contrast);

    h1 {
      text-align: left;
      margin-top: 50px;
      margin-left: 12px;
    }
    h2 {
      text-align: left;
      font-size: 1.6em;
      margin-top: 15%;
      margin-left: 12px;
    }
    h3 {
      text-align: left;
      font-size: 1em;
      margin-left: 12px;
    }
    .quiz-buttons {
      margin-top: 20%;
      ion-button {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
        --background: purple;
      }
      ion-button.quiz-button-red {--background: red}
      ion-button.quiz-button-green {--background: green}
      ion-button.quiz-button-blue {--background: blue}
      ion-button.quiz-button-orange {--background: orange}
      ion-button.quiz-button-purple {--background: purple}
      ion-button.quiz-button-black {--background: black}
      ion-button.quiz-button-white {--background: white}
      ion-button.quiz-button-yellow {--background: yellow}
      ion-button.quiz-button-grey {--background: grey}
    }
  }
}
