$size-sm: 45px;
$size-lg: 60px;

@mixin button-colors($color: primary) {
  --background: var(--ion-color-#{$color});
  --background-activated: var(--ion-color-#{$color});
  --background-focused: var(--ion-color-#{$color}-shade);
  --background-hover: var(--ion-color-#{$color}-shade);
  --color: var(--ion-color-#{$color}-contrast);
  --color-activated: var(--ion-color-#{$color}-contrast);
}

ion-button.btn-icon-small {
  width: $size-sm;
  height: $size-sm;
  font-size: 11px; // TODO: Put in variable
  padding-bottom: offset-level(1);
  --opacity: .6;
  @include button-colors(medium);
  --border-radius: 32px;

  &.liked {
    --opacity: 1;
    @include button-colors(primary);
  }
}

ion-button.btn-small-text {
  height: 24px;
  @include button-colors(light);
  --color: var(--ion-color-primary);
  font-size: .7em; // TODO: Put in variable
  letter-spacing: 0.2px; // TODO: Put in variable
  --padding-end: 10px;
  --padding-start: 10px;
  --border-radius: 16px;
  --box-shadow: black 2px 2px 6px;
  text-transform: none;
}

ion-button.btn-text {
  @include button-colors(light);
  min-width: 200px;
  --border-radius: 20px;
  text-transform: inherit;
}

ion-button.btn-icon-large {
  width: $size-lg;
  height: $size-lg;
  --border-radius: 43px;
  font-size: 15px; // TODO: Put in variable
}

ion-button.btn-red { @include button-colors(primary); }
ion-button.btn-green { @include button-colors(success); }
ion-button.btn-white { @include button-colors(light); }
ion-button.btn-yellow { @include button-colors(warning); }
ion-button.btn-black { @include button-colors(dark); }
ion-button.btn-purple { @include button-colors(purple); }
ion-button.btn-blue { @include button-colors(secondary); }
ion-button.btn-grey { @include button-colors(medium); }
