// Panel with video full screen
.full-video {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  video {
    // TODO: The width allow for a full screen video but is not generalized on every phone format
    width: 108vw;
    height: 100%;
  }

  vg-scrub-bar {
    bottom: 0;
  }
}

.full-video-side-buttons {
  @extend .margin-right;
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 0;

  ion-button {
    @extend .btn-icon-small;
    display: block;
  }
}

.full-video-author {
  z-index: 12;
  position: absolute;
  bottom: 10%;
  color: white;
  @include text-shadow(1);
  font-size: .9em; // TODO: Put in variable
  text-align: right;

  ion-avatar {
    @extend .avatar-sm;
    float: left;
    position: relative;
    right: offset-level(2);
    bottom: 10px;
  }
}

.full-video-hashtag {
  z-index: 11;
  position: absolute;
  bottom: 5%;
}

.full-video-fab {
  z-index: 12;
  position: absolute;
  bottom: 10%;
  right: 0;

  ion-button {
    @extend .btn-icon-large;
    float: right;
  }
}

// Panel with Img/Video + Text
.half-text {
  ion-img {
    max-height: 50%;
    overflow: hidden;
  }

  p {
    @extend .padding-right-sm;
    @extend .padding-left-sm;
    text-align: left;
    font-size: 0.9em; // TODO: Put in variable
  }
}

.quiz-panel {
  background-image: url("/assets/img/bg.png");
  background-size: contain;
  color: white;

  h1, h2, h3 {
    @extend .margin-left;
    text-transform: uppercase;
    text-align: left;
    span {
      background: var(--ion-color-primary);
    }
  }
  h1 {
    margin-top: 50px;
  }
  h2 {
    font-size: 1.6em; // TODO: Put in variable
    margin-top: 15%;
  }
  h3 {
    font-size: .8em; // TODO: Put in variable
  }
  .quiz-buttons {
    margin-top: 20%;
  }
}

.img-card {
  overflow: hidden;
  background-color: white;

  .card-footer {
    height: 20px;

    ion-avatar {
      @extend .avatar-sm;
      position: absolute;
      bottom: 5px;
      left: 3px;
    }

    .content {
      @extend .padding-left-sm;
      @extend .padding-right-sm;
      @extend .full-width;
      color: white;
      position: absolute;
      bottom: 40px;
      height: 70px;
      text-align: right;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: .7em; // TODO: Put in variable
      @include text-shadow(1);
    }

    .stats {
      @extend .margin-right-sm;
      color: var(--ion-color-light-shade);
      font-size: .8em; // TODO: Put in variable
      text-align: right;
    }
  }
}

.video-detail {
  height: 100%;

  .video-footer {
    .video-name {
      @extend .margin-left-sm;
      display: flex;
      align-items: flex-end;
      height: 22px;

      ion-avatar {
        @extend .avatar-lg;
        z-index: 1000;
        float: left;
      }
    }

    .stats {
      @extend .padding-left-sm;
      @extend .padding-bottom;
      list-style: none;
      font-size: .7em; // TODO: Put in variable
      border-bottom: var(--ion-color-light-shade) 1px solid;
      margin-bottom: 0;
    }
  }
}
