ion-header.transparent-gradient {
  z-index: 100000;
  visibility: hidden;
  position: absolute;

  ion-toolbar {
    --color: white;
    --min-height: 40px;
    --background: none;
    background: linear-gradient(rgba(black, .85), #0000);
    visibility: visible;
  }
}

ion-header.app-navbar {
  ion-toolbar {
    --min-height: 40px;
  }
}
