<div class="app-feed">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title slot="start">
        左右
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="slidesOpt" *ngIf="!isLoading" (ionSlideDidChange)="slideChanged($event)" #slides>
    <ion-slide *ngFor="let topic of feedService.topics" style="height: 100%">
      <app-news-topic [topic]="topic" class="full-height full-width">
      </app-news-topic>
    </ion-slide>
  </ion-slides>
</div>
