.app-feed {
  ion-header {
    ion-button.main-button {
      font-family: Hanzipen;
      font-size: 1.2em; // TODO: Put in variable
      --border-radius: 15px;
    }

    ion-button.search-button {
      --border-radius: 15px;
      color: rgba(255, 255, 255, 219);
    }
  }

  ion-slides {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
