<div class="app-feed">
  <ion-header class="transparent-gradient">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="main-button" (click)="menuClick()">
          左右
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button class="search-button" routerLink="/reaction">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-slides [options]="slidesOpt" *ngIf="!isLoading" (ionSlideDidChange)="slideChanged($event)" #slides>
    <ion-slide *ngFor="let topic of feedService.topics" style="height: 100%">
      <app-news-topic [topic]="topic" class="full-height full-width">
      </app-news-topic>
    </ion-slide>
  </ion-slides>
</div>
