<!--
<ion-header class="navbar-view">
  <ion-toolbar class="first-toolbar" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      News
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-content #scrollContent (ionScrollEnd)="scrollEnd()" [scrollEvents]="true">
  <app-news-panel *ngFor="let news of feedService.newsList"
                 [id]="news.id"
                 [content]="news.content"
                 [title]="news.title"
                 [subtitle]="news.subtitle">
  </app-news-panel>
</ion-content>
